In [122]:
import numpy as np
import csv
import pandas as pd

dataraw = pd.read_csv('train (1).csv')
dataraw = dataraw.drop(columns = ['PassengerId','Name'])

In [123]:
from sklearn import preprocessing
label_encoder_1=preprocessing.LabelEncoder()
label_encoder_2=preprocessing.LabelEncoder()
label_encoder_3=preprocessing.LabelEncoder()
label_encoder_4=preprocessing.LabelEncoder()
label_encoder_5=preprocessing.LabelEncoder()
label_encoder_6=preprocessing.LabelEncoder()
label_encoder_7=preprocessing.LabelEncoder()
label_encoder_8=preprocessing.LabelEncoder()

In [124]:
def preprocess(data):
  data['Pclass']= label_encoder_1.fit_transform(data['Pclass'])
  data['Age']= label_encoder_2.fit_transform(data['Age'])
  data['SibSp']= label_encoder_3.fit_transform(data['SibSp'])
  data['Parch']= label_encoder_4.fit_transform(data['Parch'])
  data['Cabin']= label_encoder_5.fit_transform(data['Cabin'])
  data['Fare']= label_encoder_6.fit_transform(data['Fare'])
  data['Embarked']= label_encoder_7.fit_transform(data['Embarked'])
  data['Ticket']= label_encoder_8.fit_transform(data['Ticket'])
  data['Sex'] = data['Sex'].map({'male':1,'female':0})
  return data

In [125]:
data=preprocess(dataraw)
data=data.fillna(data.mean(numeric_only=True))

In [126]:
data = data.astype(float)
X=data.drop(columns=['Survived'])
y=data['Survived']
y=y.to_numpy()

In [127]:
def sigmoid(z):
  return 1/(1+(np.exp(-z)))

In [128]:
X_bias = np.ones((X.shape[0],1))
X = np.concatenate([X_bias,X],axis = 1)
num_iterations = 500
lr = 0.01
lambda_reg = 0.5
h = None
def logistic_regression (X,y,lr,num_iterations,lambda_reg):
  global h
  w = np.zeros(X.shape[1])
  for _ in range(num_iterations):
    h = sigmoid(np.dot(X,w))
    gradient = (np.dot(X.T,(h-y)))*1/(X.shape[0]+lambda_reg*w)
    w -= lr*gradient
  return w

w = logistic_regression (X,y,lr,num_iterations,lambda_reg)
print(w)

[-0.02027674 -0.15490744 -0.55573281 -1.95668038 -0.21778274  0.01077224
 -0.5312527   1.72724456 -0.73556151 -0.37309511]

<ipython-input-127-35506de03d56>:2: RuntimeWarning: overflow encountered in exp
  return 1/(1+(np.exp(-z)))

In [129]:
def accuracy(h,w):
  n=h.shape[0]
  acc=0
  for i in range(n):
    if((h[i]>=0.5 and y[i]==1) or (h[i]<0.5 and y[i]==0)):
      acc+=1
  print(f"Accuracy= {acc/n}\n")
accuracy(h,w)

Accuracy= 0.6408529741863075

In [130]:
new_dataraw = pd.read_csv('test (1).csv')
drop_col = new_dataraw[['PassengerId', 'Name']]
new_dataraw = new_dataraw.drop(columns = ['PassengerId','Name'])
new_data=preprocess(new_dataraw)
new_data=new_data.fillna(new_data.mean(numeric_only=True))
new_data = new_data.astype(float)
data = data.astype(float)
new_X=new_data
new_X = np.concatenate([np.ones((new_X.shape[0], 1)), new_X], axis=1)
new_predictions = sigmoid(np.dot(new_X, w))
binary_predictions = (new_predictions >= 0.5).astype(int)
new_data['Survived'] = binary_predictions
new_data = pd.concat([ drop_col, new_data], axis=1)
new_data['Sex'] = data['Sex'].map({1:'male',0:'female'})
print(new_data)
accuracy(h,w)
new_data.to_csv('test (2).csv', index=False)

     PassengerId                                          Name  Pclass  \
0            892                              Kelly, Mr. James     2.0
1            893              Wilkes, Mrs. James (Ellen Needs)     2.0
2            894                     Myles, Mr. Thomas Francis     1.0
3            895                              Wirz, Mr. Albert     2.0
4            896  Hirvonen, Mrs. Alexander (Helga E Lindqvist)     2.0
..           ...                                           ...     ...
413         1305                            Spector, Mr. Woolf     2.0
414         1306                  Oliva y Ocana, Dona. Fermina     0.0
415         1307                  Saether, Mr. Simon Sivertsen     2.0
416         1308                           Ware, Mr. Frederick     2.0
417         1309                      Peter, Master. Michael J     2.0

        Sex   Age  SibSp  Parch  Ticket   Fare  Cabin  Embarked  Survived
0      male  44.0    0.0    0.0   152.0   24.0   76.0       1.0         0
1    female  60.0    1.0    0.0   221.0    5.0   76.0       2.0         0
2    female  74.0    0.0    0.0    73.0   41.0   76.0       1.0         0
3    female  34.0    0.0    0.0   147.0   34.0   76.0       2.0         0
4      male  27.0    1.0    1.0   138.0   46.0   76.0       2.0         0
..      ...   ...    ...    ...     ...    ...    ...       ...       ...
413    male  79.0    0.0    0.0   267.0   31.0   76.0       2.0         0
414    male  51.0    0.0    0.0   324.0  154.0   22.0       0.0         0
415  female  50.0    0.0    0.0   346.0    9.0   76.0       2.0         0
416  female  79.0    0.0    0.0   220.0   31.0   76.0       2.0         0
417  female  79.0    1.0    1.0   105.0   84.0   76.0       0.0         0

[418 rows x 12 columns]
Accuracy= 0.6408529741863075